.app-container {
}

.section-toolbox {
    width: 20%;
    display: inline-block;
    background-color: lavender;
}

.section-tree {
    width: 60%;
    display: inline-block;
    background-color: beige;
}

.section-manage {
    width: 20%;
    display: inline-block;
    background-color: whitesmoke;
}